.git
.github
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env/
venv/
ENV/
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.vscode/
.idea/
**/*.so
.DS_Store
logs/
tests/
docs/
notebooks/